:root {
    --light-yellow :#FFD88B;
    --yellow :  #FFA900;
    --grey: rgba(120, 120, 120, 0.92);
    --green: rgb(0, 209, 0);
    font-family: 'Raleway', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 440px 300px;
    /*grid-template-rows: 1fr 3fr 3fr;*/
}

header {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    justify-content: space-between;
    align-items: center;
}
#form {
    display: flex;
    align-items: center;
    width: 200px;
}
fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#city-input {
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #FFD88B;
    border-radius: 40px;
    background: linear-gradient(100deg, rgba(255, 255, 255, 0.40) -15.43%, rgba(255, 255, 255, 0.10) 122.5%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.06) inset;
    backdrop-filter: blur(19px);
}
#city-input:focus {
    outline: 2px solid #FFD88B;
}
small {
    margin-top: 10px;
}
.submit-button {
    background: none;
    border: none;
}
.submit-button:active {
    opacity: 70%;
}
/* .api-credit {
    margin-left: auto;
} */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section {
    height: 130px;
    width: 300px;
    padding: 10px;
    border-radius: 41px;
    background: linear-gradient(133deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(19px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.main-img {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 220px;
    left: 450px;
    background-color: #FFA900;
}
.main-section > p {
    margin: 0;
}
.main-city {
    font-size: 40px;
}
.main-temp,
.time-choice {
    font-size: 20px;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 250px;
    align-items: center;
    justify-items: center;
}
footer > section {
    height: 200px;
    width: 250px;
    grid-row: 2;
    border-radius: 40px;
    background: var(--light-yellow);
    box-shadow: 0px 4px 4px 0px var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success {
    border: var(--green) 2px solid !important;
}  
.error {
    border: red 2px solid !important;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: rgba(127, 255, 212, 0.623);
    }
    footer > section {
        height: 160px;
        width: 80px;
    }
    /* .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-img {
        bottom: 0;
        left: 0;
    }
    .main-section {
        width: 60%;
        height: 30%;
    }
    .footer {
        height: 45vh;
    }
    .time-choice {
        flex: 0 0 100%; //specify a nowrap//
        margin-left: 20px;
    }
    .main-text, .main-temp {
        font-size: 35px;
    }
    .main-date {
        font-size: 18px;
    }
    .container-display-el {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .container-display-el section {
        width: 85px;
        height: 150px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .img {
        height: 48px;
        width: 48px;
    } */
}
  
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: rgba(206, 211, 163, 0.589);
    }
    footer > section {
        height: 150px;
        width: 150px;
    }
    /* .main-section {
        width: 60%;
        height: 30%;
    }
    .main-text, .main-temp {
        font-size: 40px;
    }
    .container-display-el section {
        width: 20vw;
        height: 18vh;
    } */
}
  
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: rgba(127, 255, 212, 0.623);
    }
    /* .main-section {
        margin-right: 10px;
        width: 500px;
        height: 150px;
    }
    .container-display-el section {
        width: 226px;
        height: 183px;
    } */
}