*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Plus Jakarta Sans", sans-serif;

    /* Colors */
    --light-blue: #E3E8F0;
    --dark-blue: #576880;
    --light-grey: #6b7685;
    --white-bck: white;
    --black-text: black;
    --red-dot: red;
    --success: green;
    --error: red;
    --humidity-blue: #2159e21a;
    --wind-red: #de2a2a26;
    --uv-yellow: #f8af1829;
    --input-yellow: #fedf87;

    /* Gradients */
    --hourly-warm-gradient: linear-gradient(to bottom, #ffdb6666, #FCD34D);
    --hourly-cold-gradient:  linear-gradient(to bottom, #59dbff45, #4dacfc);
    --bar-warm-gradient: linear-gradient(to right, var(--light-blue), orange);
    --bar-cold-gradient: linear-gradient(to right, var(--light-blue), #4dacfc);

    /* Box-shadow */
    --light-shadow: 0px 0px 20px 0px rgb(232, 236, 242);

    /* Spacing */
    --space-4xs: 0.125rem;
    --space-3xs: 0.25rem;
    --space-2xs: 0.375rem;
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-base: 1rem;
    --space-md: 1.5rem;
    --space-xl: 2.1875rem;

    /* Border-radius */
    --border-rad-2xs: 0.5rem;
    --border-rad-xs: 0.75rem;
    --border-rad-sm: 0.875rem;
    --border-rad-base: 1rem;

    /* Font scale */
    --font-2xs: 0.6875rem;
    --font-xs: 0.75rem; 
    --font-sm: 0.875rem; 
    --font-md: 1.5rem;
    --font-xl: 2.5rem; 
}

html {
    display: flex;
    justify-content: center;
}

input,
button {
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    min-height: 100vh;
    max-width: 430px;

    /* Visual aid */
    /* border: dashed 2px red;  */
}

/* HEADER */
header {
    display: flex;
    gap: var(--space-base);
    padding: var(--space-xs);
    justify-content: space-between;
}

form {
    flex: 1;
    position: relative;
}

.form__input {
    min-width: 100%;
    padding: var(--space-xs);
    border-radius: var(--border-rad-xs);
    border: 1.5px solid var(--light-blue);
}

.form__input:focus {
    outline: 2px solid var(--input-yellow);
    border: 0 none;
}

.form__input--success {
  outline: var(--success) 2px solid;
}

.form__input--error {
  outline: var(--error) 2px solid;
}

.form__small {
    font-size: var(--font-2xs);
    position: absolute;
    left: var(--space-xs);
    top: var(--space-xl);
}

.form__small--red-dot {
    color: var(--red-dot);
}

.geolocation-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--space-2xs);
    border-radius: var(--border-rad-xs);
    border: 1.5px solid var(--light-blue);
    background-color: var(--white-bck);
}

.geolocation-btn--animation {
    animation-name: color-pulse;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes color-pulse {
    0% {
        background-color: var(--white-bck);
    }
    50% {
        background-color: var(--input-yellow);
    }
    100% {
        background-color: var(--white-bck);
    }
}

.unit-switch {
    display: flex;
    align-items: center;
    gap: var(--space-3xs);

    padding: var(--space-3xs);
    border-radius: var(--border-rad-sm);
    background-color: var(--light-blue);
}

.unit-switch__btn {
    min-height: 100%;
    border: 0 none;
    padding: var(--space-2xs);
    border-radius: var(--border-rad-2xs);
    font-weight: 500;
    font-size: var(--font-xs);
    color: var(--dark-blue);
    background-color: var(--light-blue);
}

.unit-switch__btn--is-active {
    color: var(--black-text);
    background-color: var(--white-bck);
}

/* MAIN */
/* :today-section */
.loader {
    position: absolute;
    top: 10%;
}

.loader--hidden {
    display: none;
}

.today-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    padding: var(--space-base);
}

.today-card {
    position: absolute;
    bottom: var(--font-sm);

    padding: var(--space-sm) var(--space-md);
    border-radius: var(--border-rad-base);
    width: 90%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: var(--space-md);

    background-color: var(--white-bck);
    box-shadow: 0px 8px 20px 1px rgb(232, 236, 242);
}

/* Avoid the unit from being separated from temp value */
/* ? First div too  or exclude ? */
.today-card > * {
    white-space: nowrap;
}

.today-card__city{
    font-size: var(--font-md);
    font-weight: 600;
}

.today-card__date,
.today-card__feels-like {
    font-size: var(--font-xs);
    color: var(--light-grey);
}

.today-card__temp {
    font-size: var(--font-xl);
    font-weight: 600;
}

.today-card__unit {
    font-size: var(--font-md);
    color: var(--light-grey);
    font-weight: 500;
}

/* :metrics-section */
.metrics-section {
    padding: var(--space-base) var(--space-xs);
}

.metrics-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-base);
}

.metric {
    background-color: var(--white-bck);
    padding: var(--space-base);
    border-radius: var(--border-rad-base);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--light-shadow);
}

.metric__name {
    font-size: var(--font-2xs);
    color: var(--light-grey);
    padding: var(--space-4xs) 0;
}

.metric__value {
    font-size: var(--font-xs);
    font-weight: 600;
}

.metric__icon {
    border-radius: var(--border-rad-base);
}

#humidity-icon {
    background-color: var(--humidity-blue);
}

#wind-icon {
    background-color: var(--wind-red);
}

#uv-icon {
    background-color: var(--uv-yellow);
}

/* :hourly-section */
.hourly-section {
    padding: 0 var(--space-xs)
}

.hourly-text {
    display: flex;
    justify-content: space-between;
}

.hourly-text__heading {
    font-size: var(--font-sm);
    font-weight: 600;
}

.hourly-text__addtl {
    color: var(--light-grey);
    font-size: var(--font-xs);
}

.hourly-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-base);
    padding: var(--space-base) 0 0 0;
}

.hourly-forecast--warm {
    background: var(--hourly-warm-gradient);
}
.hourly-forecast--cold {
    background: var(--hourly-cold-gradient);
}

.hourly-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-rad-base);
    padding: var(--font-xs);
}

.hourly-forecast__time {
    font-size: var(--font-2xs);
    text-align: center;
}

.hourly-forecast__icon {
    padding: var(--space-4xs) 0;
 }

.hourly-forecast__temp {
    font-size: var(--font-xs);
    font-weight: 500;
    text-align: center;
}

/* :daily-section */
.daily-section {
    background-color: var(--white-bck);
    margin: var(--space-base) var(--space-xs);
    border-radius: var(--border-rad-base);
    padding: var(--font-sm);
    max-width: 100%;
    box-shadow: var(--light-shadow);
}

.daily-section__heading {
    color: var(--light-grey);
    font-weight: 600;
    font-size: var(--font-sm);
    margin-bottom: var(--space-3xs);
}

/* Next sibling combinator, so target the one directly after heading should be that container */
.daily-section__heading + .daily-forecast {
    border-top: 1px solid var(--light-grey);
}

.daily-forecast {
    padding: var(--space-xs);
    font-size: var(--font-xs);

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.daily-item {
    display: grid;
    gap: var(--space-xs);
    grid-auto-flow: column;
    grid-template-columns: auto 5ch 1fr 5ch;
    align-items: center;
    text-align: center;
}

.daily-item__bar--wrapper {
    position: relative;
    background-color: var(--light-blue);
    width: 100%;
    height: 10px;
    border-radius: var(--border-rad-base);
}

.daily-item__bar--warm {
    background: var(--bar-warm-gradient);
}

.daily-item__bar--cold {
    background: var(--bar-cold-gradient);
}

.daily-item__bar {
    position: absolute;
    height: 100%;
    border-radius: var(--border-rad-base);
}

.daily-item__temp-min,
.daily-item__temp-max {
    color: var(--light-grey);
}

 /* :twilight-section */
.twilight-section {
    background-color: var(--white-bck);
    border-radius: var(--border-rad-base);
    padding: var(--space-sm) var(--space-xs);
    margin: 0 var(--space-xs) var(--space-xs);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: var(--light-shadow);
}

.twilight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.twilight__text{
    text-align: center;
    font-weight: 500;
    color: var(--light-grey);
    font-size: var(--font-sm);
}

.twilight__time {
    text-align: center;
    padding: var(--space-4xs) 0;
    font-size: var(--font-xs);
}

/* UTILS */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
