*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Plus Jakarta Sans", sans-serif;

    /* Colors */
    --light-blue: #E3E8F0;
    --dark-blue: #5B6D86;
    --light-grey: rgb(148 163 184);

    /* Spacing */
    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;

    /* TODO: see what we use, remove the rest later */
    /* Font scale */
    --font-xs: 0.75rem; /* Small text for captions, footers, and supplementary information */
    --font-sm: 0.875rem; /* Additional text, sidebar, dense UI body */
    --font-md: 1rem; /* Standard body font size */
    --font-lg: 1.125rem; /* Large body text, emphasized text, lead paragraph */
    --font-xl: 1.25rem; /* Small Title (H4, H5) */
    --font-xxl: 1.5rem; /* Medium Title, Subtitle (H3) */
    --font-xxxl: 1.875rem; /* Large Title (H2) */
    --font-xxxxl: 2.25rem; /* Main Page Large Title (H1) */
}

/* TODO: refactor box-shadow */

/* ! For debugging purpose */
html {
    display: flex;
    justify-content: center;
}

input,
button {
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    min-height: 100vh;
    max-width: 430px;

    /* Visual aid */
    border: dashed 2px red;

    /* TODO: 'issue' add safe area */
    /* padding-bottom: 20px;
    padding-bottom: env(safe-area-inset-bottom); */
}

/* HEADER */
header {
    display: flex;
    gap: var(--space-md);
    padding: var(--space-sm);
    justify-content: space-between;
}

#form {
    width: 100%;
}

#city-input {
    min-height: 100%;
    min-width: 100%;
    padding: var(--space-sm);

    border-radius: var(--font-xs);
    border: 1.5px solid var(--light-blue);

    /* box-shadow: 0 1px 2px rgb(232 236 242); */
}

#geolocation-btn {
    padding: var(--space-xs);
    border-radius: var(--space-xs);
    border: 1.5px solid var(--light-blue);
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#unit-switch-container {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    padding: var(--space-xs);
    border-radius: var(--font-sm);
    background-color: var(--light-blue);
}

#active-unit {
    color: black;
    background-color: #FFFFFF;
}

.unit-btn {
    min-height: 100%;
    border: 0 none;
    padding: 0.375rem; 
    border-radius: var(--space-sm);
    background-color: var(--light-blue);
    font-size: var(--font-xs);
    color: var(--dark-blue);
    font-weight: 500;
}

/* MAIN */
/* :today-section */
#today-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    padding: var(--font-md);
}

.glass-card {
    position: absolute;
    bottom: var(--font-sm);

    padding: var(--font-xs) var(--font-md);
    border-radius: var(--space-md);
    width: 90%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: var(--space-lg);

    background-color: #FFFFFF;
    box-shadow: 0px 8px 20px 1px rgb(232 236 242);
}

/* Avoid the unit from being separated from temp value */
/* ? First div too  or exclude ? */
.glass-card > * {
    white-space: nowrap;
}

#city-choice {
    font-size: var(--font-xxl);
    font-weight: 600;
}

#full-date,
#feels-like-temp  {
    font-size: var(--font-xs);
    color: var(--light-grey);
}

#today-temp {
    font-size: 2.5rem;
    font-weight: 600;
}

#preferred-unit {
    font-size: var(--font-xxl);
    color: var(--light-grey);
    font-weight: 500;
}

/* :metrics-section */
#metrics-section {
    padding: var(--space-md) var(--space-sm);
}

#metrics-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-md);
}

.metric-container {
    background-color: #FFFFFF;
    padding: var(--space-md);
    border-radius: var(--space-md);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 0px 20px 0px rgb(232, 236, 242);
}

.metric-name {
    font-size: 0.625rem;
    color: var(--light-grey);
    padding: 0.125rem 0;
}

.metric-value {
    font-size: var(--font-xs);
    font-weight: 600;
}

/* :hourly-section */
#hourly-section {
    padding: 0 var(--space-sm)
}

#hourly-descriptive-text {
    display: flex;
    justify-content: space-between;
}

#info-heading {
    font-size: var(--font-sm);
    font-weight: 600;
}

#info-additional {
    color: var(--light-grey);
    font-size: var(--font-xs);
}

#hourly-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-md);
    padding: var(--space-md) 0 0 0;
}

.hourly-forecast-container {
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    border-radius: var(--space-md);
    padding: var(--font-xs);
}

.forecast-hour {
    font-size: 0.6875rem;
    text-align: center;
}

.forecast-hourly-temp{
    font-size: var(--font-sm);
    font-weight: 500;
    text-align: center;
}

.hourly-forecast-icon {
    padding: 0.125rem 0;
 }

/* :daily-section */
#daily-section {
    background-color: var(--light-blue);
    margin: var(--space-md) var(--space-sm);
    border-radius: var(--font-md);
    padding: var(--font-sm);
    max-width: 100%;
}

#daily-forecast-heading {
    color: var(--light-grey);
    font-weight: 600;
    font-size: var(--font-sm);
    margin-bottom: 0.25rem;
}

#daily-section > :nth-child(2) {
    border-top: 1px solid var(--light-grey);
}

.daily-forecast-container {
    padding: var(--space-sm);
    font-size: var(--font-xs);

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.daily-layout {
    display: grid;
    gap: var(--space-sm);
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 5fr 1fr;
    align-items: center;
    text-align: center;
}

.thermal-range {
    background-color: #FFFFFF;
    /* TODO: change later */
    height: 10px;
}

.min-temp,
.max-temp {
    color: var(--light-grey);
}

 /* :twilight-section */
#twilight-section {
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--font-md) var(--space-sm);
    margin: 0 var(--space-sm) var(--space-sm);
    border-radius: var(--space-md);
}

.twilight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.twilight-text {
    text-align: center;
    font-weight: 500;
    color: var(--light-grey);
    font-size: var(--font-sm);
}

.twilight-time {
    text-align: center;
    padding: 0.125rem 0;
    font-size: var(--font-xs);
}

/* TODO: Check name */
/* UTILS */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
